
<h1>{{currentUser.first_name}}'s Collector Dashboard</h1>

<div class="profile_info">
  <h2>{{currentUserfirst_name}}</h2>
  <h2>{{currentUser.email}}</h2>
  <h2>{{currentUser.age}}</h2>
  <h2>{{currentUser.years_collecting}}</h2>
  <h2>You Have XX figures in your collection</h2>
</div>
<div class="update_profile_Btn"></div>






