<h2 class="yourfiguresHeader">Your Set Collection</h2>

<div class='col-sm4 col-md-6 col-lg-12 mb-3 figures_container'>
  
<div class="row grid_header">
    <div class="col-sm">Name</div>
    <div class="col-sm">Theme</div>
    <div class="col-sm">Quantity</div>
    <div class="col-sm">Condition</div>
    <div class="col-sm">Value</div>
    <div class="col-sm">Total Value ($ {{kitValue}})</div>
    <div class="col-sm">Notes</div>
    <div class="col-sm">Edit Set</div>
  </div>
<div class="itemconfiguration">
{{#if kits.length}}
{{#each kits as |kit|}}
<div class="container-fluid">
<div class="row mb-4 figure-grid">
  <div class="row grid_content">
    <div class="col-sm">{{kit.name}}</div>
    <div class="col-sm">{{kit.theme}}</div>
    <div class="col-sm">{{kit.quantity}}</div>
    <div class="col-sm">{{kit.condition}}</div>
    <div class="col-sm">${{kit.value}}</div>
    <div class="col-sm">${{multiply kit.value kit.quantity}}</div>
    <div class="col-sm">{{kit.notes}}</div>
    <div class=" col-sm pen_box">
    <img class="pen" type='submit'
            data-id="{{kit.id}}"
            onclick="location.href='/editSet/{{kit.id}}'" src="/images/pen.png"/>
     </div> 
  </div>
  
</div>
</div>
{{/each}}
{{/if}}
</div>
</div>
<button
            class='banner_btn add_a_new_figBtn'
            id='add_figuresBtn'
            type='submit'
            onclick="location.href='/addSet'"
          >Add Another Set</button>

{{!-- <script src="/js/editSet.js"></script> --}}

<script src='/js/mySets.js'></script>